In [41]:
from sklearn.preprocessing import MinMaxScaler
import pandas as pd
from sklearn.datasets import load_iris
import numpy as np

# Charger le jeu de données Iris
iris = load_iris()
data = pd.DataFrame(iris.data, columns=iris.feature_names)
data['species'] = iris.target
data.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [30]:
mean_sepal_length = data['sepal length (cm)'].mean()
median_sepal_length = data['sepal length (cm)'].median()
print(f"Min sepal lengt: {round(mean_sepal_length, 3)} median sepal length: {median_sepal_length} ")

Min sepal lengt: 5.843 median sepal length: 5.8

In [31]:
percentile_75 = data.groupby('species')['petal length (cm)'].quantile(0.75)
print(percentile_75)

species
0    1.575
1    4.600
2    5.875
Name: petal length (cm), dtype: float64

In [32]:
data['sepal_area'] = data['petal length (cm)'] * data['sepal width (cm)']
data.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species,sepal_area
0,5.1,3.5,1.4,0.2,0,4.90
1,4.9,3.0,1.4,0.2,0,4.20
2,4.7,3.2,1.3,0.2,0,4.16
3,4.6,3.1,1.5,0.2,0,4.65
4,5.0,3.6,1.4,0.2,0,5.04

In [36]:
def remove_outliers(group):
    std = group['petal length (cm)'].std()
    return group[group['petal length (cm)'] <= 2 * std]

iris_no_outliers = data.groupby('species', group_keys=False).apply(remove_outliers)
print(f"4️⃣ Nombre de lignes après suppression des outliers : {len(iris_no_outliers)} (au lieu de {len(data)})\n")

4️⃣ Nombre de lignes après suppression des outliers : 0 (au lieu de 150)

C:\Users\HP\AppData\Local\Temp\ipykernel_11744\1671573547.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  iris_no_outliers = data.groupby('species', group_keys=False).apply(remove_outliers)

In [33]:


# Créer le scaler
scaler = MinMaxScaler()

# Normaliser toutes les colonnes numériques (sauf 'species')
data_scaled = data.copy()
data_scaled[data.columns[:-1]] = scaler.fit_transform(data[data.columns[:-1]])
print(data_scaled.head())

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0           0.222222          0.625000           0.067797          0.041667
1           0.166667          0.416667           0.067797          0.041667
2           0.111111          0.500000           0.050847          0.041667
3           0.083333          0.458333           0.084746          0.041667
4           0.194444          0.666667           0.067797          0.041667

   species  sepal_area
0      0.0        4.90
1      0.0        4.20
2      0.0        4.16
3      0.0        4.65
4      0.0        5.04

In [34]:
subset = data[['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)']]
top3 = subset.value_counts().head(3)
print(top3)

sepal length (cm)  sepal width (cm)  petal length (cm)
4.8                3.0               1.4                  2
5.8                2.7               5.1                  2
5.1                3.5               1.4                  2
Name: count, dtype: int64

In [40]:
data['species'] = [iris.target_names[i] for i in iris.target]
idx = data.groupby('species') ['sepal width (cm)'].idxmax()
print(idx)

species
setosa         15
versicolor     85
virginica     117
Name: sepal width (cm), dtype: int64

In [43]:
import numpy as np

np.random.seed(0)
random_indices = np.random.choice(data.index , size=5, replace=False)
data.loc[random_indices, 'petal width (cm)'] *= -1

print(data.loc[random_indices, ['petal width (cm)']])

     petal width (cm)
114               2.4
62                1.0
33                0.2
107               1.8
7                 0.2

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [45]:
mean_non_negative = data.loc[data['petal width (cm)'] >= 0, 'petal width (cm)'].mean()
print(mean_non_negative)

1.1993333333333336

In [46]:
data.loc[data['petal width (cm)'] < 0, 'petal width (cm)'] = mean_non_negative

In [47]:
cols = ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']
corr_matrix = data[cols].corr()

print(corr_matrix)

                   sepal length (cm)  sepal width (cm)  petal length (cm)  \
sepal length (cm)           1.000000         -0.117570           0.871754
sepal width (cm)           -0.117570          1.000000          -0.428440
petal length (cm)           0.871754         -0.428440           1.000000
petal width (cm)            0.817941         -0.366126           0.962865

                   petal width (cm)
sepal length (cm)          0.817941
sepal width (cm)          -0.366126
petal length (cm)          0.962865
petal width (cm)           1.000000